/********
 * body *
 ********/
body, html {
  width: 100%;
  height: 100%;
  background-color: #DDD;
}
body{
  margin: auto;
}

/********** 
 * Header *
 **********/
header{
  width: 100%;
  background-color: rgb(128,149,232);
}
h1 {
  font-size: 335%;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 0%;  
}
/*********** 
 * sidebar *
 ***********/
aside {
  display: inline-block;
  text-align: center;
  margin-top: 9%;
  margin-left: 3%;
  vertical-align: top;
  padding-bottom: 3%;
  background-color: #FFF;
  border-radius: 25%;
}

aside h3{
  padding: 2%;
}

aside a{
  display: block;
  text-align: center;
}
/***********
 * content *
 ***********/
main {
  margin-top: 5%;
  text-align: center;
  display: inline-block;
  width: 70%;
  height: 60%;
}

section{
  display: inline-block;
}

#chat{
  margin-left: 4%;
  height: 100%;
  width: 100%;
}

#chat h3, aside h3 {
  background-color: rgb(128, 149, 232);
  margin-bottom: 0%;
}

#talk {
  margin-top: 0%;
  height: 80%;
  background-color: #FFF;
  overflow: scroll;
  text-align: left;
}

#form{
  background-color: rgb(128, 149, 232);
  padding: 1% 0%;
}
