body, html {
  width: 100%;
  height: 100%;
  background-color: #DDD;
}
body{
  margin: auto;
}
header{
  width: 100%;
  background-color: rgb(128,149,232);
}

h1 {
  font-size: 335%;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 0%;  
}

aside {
  display: inline-block;
  text-align: center;
  margin-top: 9%;
  margin-left: 3%;
  vertical-align: top;
  padding-bottom: 3%;
  background-color: #FFF;
  border-radius: 25%;
}

aside h3{
  padding: 2%;
}

aside a{
  display: block;
  text-align: center;
}

main {
  margin-top: 5%;
  text-align: center;
  display: inline-block;
  width: 70%;
  height: 60%;
}

section{
  display: inline-block;
}

#chat{
  margin-left: 4%;
  height: 100%;
  width: 100%;
}

#chat h3, aside h3 {
  background-color: rgb(128, 149, 232);
  margin-bottom: 0%;
}

#talk {
  margin-top: 0%;
  height: 80%;
  background-color: #FFF;
  overflow: scroll;
  text-align: left;
}

#form{
  background-color: rgb(128, 149, 232);
  padding: 1% 0%;
}

/*
.nav{
  border-bottom: 1px solid black;
}

.nav a {
  text-decoration: none;
  color: #000;  
}

aside {
  border: 1px solid black;
  display: inline-block;
  margin-left: 3%;
  margin-top: 8%;
  width: 15%;
  vertical-align: top;
}

aside h2 {
  text-align: center;
}

aside a {
  text-decoration: none;
  display: inline-block;
  margin: 0 30% 5% 30%;
}

article {
  text-align: center; 
  display: inline-block;
  width: 70%;
  height: 100%;
/*  background-color: rgb(232, 211, 128);*/
}

/*
.roomOccupancy {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

section{
  display: inline-block;
}

#instruct {
  margin-top: 8%;
  margin-left: 5%;
  width: 100%;
}


#chat {
  border: 1px black solid;
  margin-left: 2%;
  width: 50%;
  height: 90%;
  /*vertical-align: top;/
}

#talk{
  border-bottom: 1px solid black;
  height: 80%;
  overflow: scroll;
}

#form {
  padding-top: 1%;
  margin-left: 5%;
}
 
*/